@use "base"
  
#body 
  min-height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  // grid-template-rows: 75px calc(100vh - 125px) 50px

  main
    max-width: 1200px
    padding: 32px
    margin: auto
    display: grid
    gap: 16px
    grid-template-columns: 4fr repeat(2, 5fr)
    