@import "./index.sass"

.my-footer
  background: $main-color-gradient
  color: $white
  
  display: flex
  align-items: center
  justify-content: center

  padding: 4px

  .credits
    margin-right: 16px

  .links
    display: flex
    align-items: center
    
    a
      margin: 0 4px
      padding: 4px 12px
      border-radius: 4px

      display: flex
      align-items: center

    a:hover
      background-color: $white-hover

