@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 8px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

h1, h2, h3, p {
  color: #3f3f3f;
}

strong {
  font-weight: bold;
}

#body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#body header {
  background: linear-gradient(100deg, #43596D, #2F465C);
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
}
#body #content {
  display: grid;
  grid-template-columns: 2fr repeat(2, 3fr);
  gap: 16px;
  margin: 32px auto;
  width: 1200px;
}
#body #content #profile {
  background: linear-gradient(100deg, #43596D, #2F465C);
  color: #fff;
  border-radius: 24px;
  display: flex;
  flex-flow: column;
  gap: 48px;
  padding: 32px;
}
#body #content #profile #user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#body #content #profile #user-info h2, #body #content #profile #user-info p {
  color: #fff;
}
#body #content #profile #user-info img {
  border: 4px solid #fff;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 8px;
}
#body #content #profile #contact-list {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#body #content #profile #contact-list li a {
  text-decoration: none;
  color: #fff;
  width: fit-content;
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: center;
  padding: 8px 24px;
  border-radius: 16px;
}
#body #content #profile #contact-list li a img {
  width: 1.5rem;
}
#body #content #profile #contact-list li a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1254901961);
}
#body #content #education, #body #content #experience {
  background: linear-gradient(100deg, #43596D, #2F465C);
  border-radius: 24px;
  display: grid;
  grid-template-rows: auto 1fr;
}
#body #content #education h2, #body #content #experience h2 {
  color: #fff;
  text-align: center;
  margin: 8px 0;
}
#body #content #education .history, #body #content #experience .history {
  background-color: #EDEDED;
  margin: 4px;
  border-radius: 21px;
  padding: 0 24px;
  display: grid;
  grid-template-rows: auto 1fr;
}
#body #content #education .history button, #body #content #experience .history button {
  background-color: #2F465C;
  color: #fff;
  padding: 6px 32px;
  font-size: 1rem;
  border-radius: 32px;
  border: none;
  font-weight: bold;
  display: block;
  margin: 32px auto;
  cursor: pointer;
}
#body #content #education .history .history-list, #body #content #experience .history .history-list {
  overflow-y: auto;
  height: calc(100vh - 350px);
}
#body #content #education .history .history-list p, #body #content #experience .history .history-list p {
  margin-bottom: 8px;
  line-height: 1.25;
}
#body #content #education .history .history-list .description-group, #body #content #experience .history .history-list .description-group {
  border-bottom: 1px solid #3f3f3f;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
#body #content #education .history .history-list .description-group:last-of-type, #body #content #experience .history .history-list .description-group:last-of-type {
  border-bottom: none;
}
#body footer {
  background: linear-gradient(100deg, #43596D, #2F465C);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#body footer .credits {
  margin-right: 16px;
}
#body footer .links {
  display: flex;
  align-items: center;
}
#body footer .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  margin: 4px;
  border-radius: 4px;
}
#body footer .links a:hover {
  background-color: rgba(255, 255, 255, 0.1254901961);
}

/*# sourceMappingURL=styles.css.map */
